// навігація
.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @media screen and (max-width: 480px) {
            display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 796px;
        }

}
// список
.nav__list {
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

// елемент
.nav__item {
    margin-right: 50px;
    
    &:last-child {
        margin-right: 0px;
    }
        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin-right: 0;
            margin-bottom: 32px;

        }
}

.nav__link {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 14px;
                line-height: 1.14;
        }
        
}
// активна старінка
.current {
    @media screen and (min-width: 768px) {
color: var(--accent-cl);
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        background: #2196F3;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        left: 0;
        top: 46px;
        @media screen and (min-width: 769px) and (max-width: 1199px) {
            top: 50px;
        }
    }
    }
    
}


