// навігація
.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
// список
.nav__list {
    display: flex;
}

// елемент
.nav__item {
    margin-right: 50px;
    
    &:last-child {
        margin-right: 0px;
    }
}

.nav__link {
    font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        text-align: center;
}
// активна старінка
.current {
    color: var(--accent-cl);
    position: relative;

    &::after {
            content: '';
            display: inline-block;
            position: absolute;
            background: #2196F3;
            border-radius: 2px;
            height: 4px;
            width: 100%;
            left: 0;
            top: 46px;
        }
}


