
// футер стилі
.footer {
    background: #2F303A;

    &__container {
            display: flex;
            align-items: center;
    
            padding-top: 60px;
            padding-bottom: 60px;

            @media screen and (max-width: 480px) {
                    flex-direction: column;
                }
        }
    }

.title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

// адреси стилі

.address {
    @media screen and (max-width: 480px) {
            margin-bottom: 60px;
        }
    
}

.container-address {
    margin-right: 70px;
    

    @media screen and (max-width: 480px) {
            margin-right: 0px;
            display: flex;
                align-items: center;
                flex-direction: column;
        }

                
}



.address__txt {
    margin: 0px;
    margin-bottom: 9px;
    margin-top: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    @media screen and (max-width: 480px) {
            text-align: center;
        }
    
    
}

.address__item {
    @media screen and (max-width: 480px) {
            text-align: center;
        }
}

.address__item:first-child {
    margin-bottom: 9px;
}

.address__link {

    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (max-width: 480px) {
        text-align: center;
    }

    &:hover,
    &:focus {
            color: var(--accent-cl);
        }
}

// соціальні мережі стилі
.container-social-networks {
    @media screen and (max-width: 480px) {
            margin-bottom: 60px;
        }
}

.container-social-networks__title {
    margin: 0px;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
            text-align: center;
        }
}


// підписка стилі

.subscribe {
    border: 0;
        padding: 0;

    @media screen and (min-width: 1200px) {
            width: 570px;
                margin-left: 93px;
        }
}

// загальні стилі

// заголовок
.subscribe__title {
    margin: 0;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
            text-align: center;
        }
}

// іконка
.subscribe-form__icon {
    margin-left: 10px;

    height: 24px;
    width: 24px;
}

// кнопка
.subscribe-button-form {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 12px;
    margin-right: 0;

    @media screen and (max-width: 480px) {
        width: 200px;
        margin-top: 20px;
        }
}

// форма
.subscribe-form {
    display: flex;
    align-items: center;
    
    @media screen and (min-width: 1200px) {
            align-items: center;
                justify-content: center;;
        }

    @media screen and (max-width: 480px) {
            flex-direction: column;
        }

    &__input {
            padding: 15px 16px;
    
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            background: var(--dark-bg-col);
    
            height: 50px;
            width: 358px;

    
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
    
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
    
            color: rgba(255, 255, 255, 0.6);
        
        @media screen and (max-width: 480px) {
                width: 450px;
            }
        }

}




