.link {
    color: var(--main-txt-col);
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
        color: var(--accent-cl);
    }

    &:focus {
        color: var(--accent-cl);
    }
}


