


.title {
margin: 0;
margin-bottom: 30px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-col);

   @media screen and (min-width: 1200px){
    font-size: 36px;
    margin-bottom: 50px;
   }
        
}



.title-projects {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--main-txt-col);
}