 body {
     font-family: var(--main-font);

     color: var(--secondary-txt-col);
 }

 ul {
     margin: 0px;
     padding: 0px;
 }

 .section {
     padding-top: 94px;
     padding-bottom: 94px;
 }
 .container {
    
     margin: 0 auto;
    padding: 0 15px;
    max-width: 480px; 
   

     @media screen and (min-width: 481px) {
    max-width: 768px;
    }

    @media screen and (min-width: 769px) {
    
        max-width: 1200px;
    }
 }