// бегдроп
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    /* transform: scale(1.2); */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*transform 2500ms cubic-bezier(0.4, 0, 0.2, 1); */
// @media screen and (min-width: 768px) {
//     display: none;
// }
//     &-menu-header 
//     {
//         @media screen and (max-width: 767px) {position: fixed;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background: rgba(0, 0, 0, 0.2);
//             /* transform: scale(1.2); */
//             transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}}
 }

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.is-hidden {
    /* transform: scale(1); */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

// модальне вікно
.modal {
    width: 450px;
    height: auto;
    background-color: #ffffff;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1200px) {
            min-width: 528px;
                min-height: 581px;

        }
@media screen and (max-width: 479px) {
    width: 100%;
}
}
// кнопка
.modal__btn-close {
    padding: 6px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

&:hover,
&:focus {
        fill: var(--accent-cl);
    }
   &--menu-header {
    border: 0px;
    border-radius: 0px;
    width: 40px;
        height: 40px;
        
   }
}

// іконка
.modal__icon {
    width: 11px;
    height: 11px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--menu-header {
    width: 18px;
        height: 18px;
  }
}
// заголовок
.modal__title {
    margin: 0;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-col);
}