// чим-ми-займаємося
.section-what-we-do {
    padding-bottom: 90px;
     
    @media screen and (max-width: 1199px) {
            display: none;
        }
}
// чим-ми-займаємося-список
.what-we-do-list {
    padding: 0px;

    display: flex;
    justify-content: center;
}
// чим-ми-займаємося-список елемент
.what-we-do-list__item  {
    margin-right: 30px;

    &:last-child {
            margin-right: 0px;
        }
}


// чим-ми-займаємося-список картинка
.what-we-do-list__img {
    position: relative;
}
// чим-ми-займаємося-список текст
.what-we-do-list__txt {
    position: absolute;
    bottom: 4px;
    left: 0;
    height: 70px;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}