:root {
    /*шрифти*/
    --main-font: Roboto, serif;
    --secondary-font: Raleway, serif;
    /*колір тексту*/
    --accent-cl: #2196F3;
    --main-txt-col: #212121;
    --secondary-txt-col: #757575;
    /*фон*/
    --secondary-bg-col: #F5F4FA;
    --dark-bg-col: #2F303A;
    /*кнопки*/
    --main-btn-col: #F5F4FA;
    --hero-bg-btn-col: #2196F3;
    /*іконки*/
    --icon-col: #AFB1B8;
}